services:
  - type: web
    name: watch-shop-fe
    env: node
    plan: starter
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NEXT_PUBLIC_API_HOST
        sync: false
      - key: PORT
        value: 10000
    healthCheckPath: /

