@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100%;
  font-family: 'Be Vietnam Pro', Inter, 'Public Sans', Roboto, 'Helvetica Neue', Arial, 'Segoe UI', sans-serif;
}

#__next {
  height: 100%;
}
